html {
    background-image: url('images/background_temp.png');
    
        height: 100%;
    
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}